.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  flex-grow: 0;
}

.btn-stop,
.btn-play {
  height: 40px;
  width: 30px;
  cursor: pointer;
  color: #b3b3b3;
}

.btn-stop:hover,
.btn-play:hover {
  color: #fff;
}

.btn-skip {
  height: 30px;
  width: 20px;
  cursor: pointer;
  color: #b3b3b3;
}

.btn-skip:hover {
  color: #fff;
}
