.admin {
  grid-area: Content;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.admin-nav {
  margin-bottom: 40px;
}

.admin span {
  margin-right: 10px;
  font-size: 1.8rem;
}

.admin span:hover {
  text-decoration: underline;
}

.admin span.active {
  text-decoration: underline;
}
