.artist-details {
  grid-area: Content;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.artist-details-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.artist-details-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.artist-details-albums-wrapper h2 {
  margin-bottom: 30px;
}

.artist-details-albums {
  display: flex;
}

.album {
  display: flex;
  flex-flow: column;
  width: 180px;
  align-items: center;
  gap: 10px;
}

.album img {
  width: 180px;
}

.album a {
  color: #fff;
}
