.header {
  height: 60px;
  width: 100%;
  grid-area: Header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.profile-link,
.profile-link:hover,
.profile-link:visited {
  text-decoration: none;
  color: #e9ebf0;
}
