@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.1fr;
  grid-template-rows: 0.3fr 4fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    'Sidebar Header Header'
    'Sidebar Content Content'
    'Player Player Player';
  width: 100vw;
  height: 100vh;
}

.app-container {
  background-color: #272727;
}

@media all and (max-width: 670px) {
  .sidebar {
    width: initial;
  }

  .container {
    grid-template-columns: 0.1fr 2.6fr 0.1fr;
  }
}

@media all and (max-width: 597px) {
  .header {
    height: initial;
    flex-wrap: wrap;
  }

  .sidebar {
    width: initial;
  }

  .container {
    grid-template-rows: 0.6fr 3.8fr 0.3fr;
  }
}

@media all and (max-width: 468px) {
  .sidebar ul li {
    flex-flow: column;
    text-align: center;
  }
}

@media all and (max-width: 420px) {
  .sidebar {
    padding: 0;
  }
}
