.album-details {
  grid-area: Content;
  padding: 40px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.album-details-cover {
  width: 200px;
  height: 200px;
}

.album-details-info {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.album-title {
  font-size: 56px;
}

.album-details-songs {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.album-details-songs h3 {
  font-size: 30px;
}
.album-details-song {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding-left: 30px;
}

.album-details-song span {
  font-size: 16px;
}

.album-song-play {
  width: 30px;
  height: 40px;
}
