.album-details {
  grid-area: Content;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.album-details-info {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.album-details-song {
  margin-bottom: 10px;
}

.album-details-songs h3 {
  margin-bottom: 20px;
}

.album-details-cover {
  width: 200px;
  height: 200px;
}

<<<<<<< HEAD
.album-details-info {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.album-title {
  font-size: 56px;
}

.album-details-songs {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.album-details-songs h3 {
  font-size: 30px;
}
.album-details-song {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding-left: 30px;
}

.album-details-song span {
  font-size: 16px;
}

.album-song-play {
  width: 30px;
  height: 40px;
=======
.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-left {
  display: flex;
  align-items: center;
}

.song-btn {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media all and (max-width: 548px) {
  .album-details-cover {
    width: 150px;
    height: 150px;
  }

  h2 {
    font-size: 22px;
    line-height: 32px;
  }
}

@media all and (max-width: 320px) {
  .album-details-cover {
    width: 150px;
    height: 150px;
  }
>>>>>>> 803c76ba82cd6b954904a8ecdf60cff62b5c78ee
}
